---
import Layout from '../layouts/Layout.astro'
import heroImg from '../images/hero.png'
import Hero from '../components/Hero.astro'
import SmallCardHome from '../components/SmallCardHome.astro'
import computer from '../images/computer.svg'
import shield from '../images/shield.svg'
import clockCheck from '../images/clockCheck.svg'
import folder from '../images/folder.svg'
import ProductiveCard from '../components/productiveCard.astro'
import avatar1 from '../images/avatar1.png'
import avatar2 from '../images/avatar2.png'
import avatar3 from '../images/avatar3.png'
import CommentCard from '../components/CommentCard.astro'
import FormHome from '../components/FormHome.astro'
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center">
		<img src={heroImg} alt="hero img" width="304" class="mt-6" />
		<Hero />
		<section class="mt-32 flex flex-col items-center gap-20">
			<SmallCardHome
				imageSource={computer}
				header="Access your files, anywhere"
				paragraph="The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere."
			/>
			<SmallCardHome
				imageSource={shield}
				header="Security you can trust"
				paragraph="2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files."
			/>
			<SmallCardHome
				imageSource={clockCheck}
				header="Real-time collaboration"
				paragraph="Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required."
			/>
			<SmallCardHome
				imageSource={folder}
				header="Store any type of file"
				paragraph="Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared."
			/>
		</section>
		<ProductiveCard />
		<section class="mb-40 flex flex-col gap-6">
			<CommentCard avatar={avatar1} name="Satish Patel" />
			<CommentCard avatar={avatar2} name="Bruce McKenzie" />
			<CommentCard avatar={avatar3} name="Iva Boyd" />
		</section>
		<FormHome />
	</main>
</Layout>
